.cookies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  padding-left: 24px;
  background: #474a57;
  box-shadow: 0px 8px 16px rgba(39, 40, 51, 0.16);
  border-radius: 6px;
  position: fixed;
  width: 461px;
  height: 144px;
  left: 172px;
  bottom: 24px;
}

.text {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-variant: small-caps;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #f7f8f9;
  padding-bottom: 21px;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding-left: 200px;
}

.information {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* font-variant: small-caps; */
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #f7f8f9;
  background: #474a57;
  border: none;
  padding: 0;
  padding-right: 28px;
}

.accept {
  background: #068ccf;
  font-family: "Volkhov";
  font-size: 14px;
  font-weight: 500;
  /* font-variant: small-caps; */
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  height: 32px;
  width: 104px;
  border-radius: 4px;
  color: #f1f2f5;
  border: none;
}

@media (max-width: 360px) {
  .cookies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #474a57;
    box-shadow: 0px 8px 16px rgba(39, 40, 51, 0.16);
    border-radius: 6px;
    position: fixed;
    width: 300px;
    left: 0px;
    top: 1080px;
    margin: 0 16px;
  }

  .text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: "salt" on, "liga" off;
    color: #f7f8f9;
    margin-bottom: 8px;
    padding: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 0px;
  }
}
