.topselling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 186px;
}

.topselling__paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #5e6282;
  margin: 0;
  margin-bottom: 8px;
}

.topselling__title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
  margin: 0;
  margin-bottom: 132px;
}

.topselling__cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: 400px;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 25%;
  transition: transform 1s linear;
}

.city__image {
  width: 314px;
  height: 300px;
}

.city__destination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.city__destination span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.city__trip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.city__trip img {
  margin-right: 16px;
}

.city__trip span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.city:hover {
  transform: scale(1.2);
}

.topselling__paragraph:hover {
  text-decoration: underline;
}

.topselling__title:hover {
  box-shadow: 8px 8px 4px lightskyblue;
  border-radius: 12px;
}

.booking__button {
  background-color: lightskyblue;
  padding: 16px 40px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  margin-top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 8px 8px 4px lightcoral;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .rome:hover,
  .london:hover,
  .europe:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1024px) {
  .topselling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 140px;
  }

  .topselling__title {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183e;
    margin: 0;
    margin-bottom: 100px;
  }

  .topselling__cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: 400px;
  }

  .rome,
  .london,
  .europe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    transition: transform 1s linear;
  }

  .rome,
  .london {
    margin-right: 40px;
  }

  .rome__destination,
  .london__destination,
  .europe__destination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin-bottom: 20px;
  }

  .rome__trip img,
  .london__trip img,
  .europe__trip img {
    margin-right: 16px;
    margin-left: 20px;
  }

  .rome:hover,
  .london:hover,
  .europe:hover {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .topselling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 120px;
  }

  .topselling__title {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183e;
    margin: 0;
    margin-bottom: 80px;
  }

  .topselling__cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    height: 400px;
    width: 90%;
  }

  .rome__destination,
  .london__destination,
  .europe__destination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .rome,
  .london {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .topselling__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 200px;
  }

  .rome,
  .london,
  .europe {
    width: 50%;
    margin-bottom: 20px;
  }
}
