.topselling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.topselling__paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #5e6282;
  margin: 0;
  margin-bottom: 8px;
}

.topselling__title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
  margin: 0;
  margin-bottom: 132px;
}

.topselling__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.rome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
}

.rome__image {
  /* width: 314px; */
  /* height: 300px; */
}

.rome__destination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.rome__destination span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.rome__trip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.rome__trip img {
  margin-right: 16px;
}

.rome__trip span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}
