.testimonials {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.testimonials__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #5e6282;
  margin: 0;
  margin-bottom: 8px;
}

.testimonials__paragraph {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
  margin: 0;
  margin-bottom: 16px;
}

.carousel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  padding: 12px;
}

.carousel_text_paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #5e6282;
}

.testimonials__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
  margin: 0;
  margin-bottom: 8px;
}

.testimonials__location {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5e6282;
  margin: 0;
}

.testimonials__title:hover {
  text-decoration: underline;
}

.testimonials__paragraph:hover {
  box-shadow: 8px 8px 4px lightskyblue;
  border-radius: 12px;
}

@media (max-width: 1200px) {
  .carousel {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel_text_paragraph {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5e6282;
  }
}

@media (max-width: 1024px) {
  .carousel {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .testimonials__paragraph {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    text-transform: capitalize;
    color: #14183e;
    margin: 0;
    margin-bottom: 16px;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
      0px 20px 13px rgba(0, 0, 0, 0.01),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    padding: 12px;
  }
}
