.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 210px;
}

.features__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
}

.features_text_paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #5e6282;
  margin: 0;
  margin-bottom: 16px;
}

.features_text_title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
  margin: 0;
  margin-bottom: 32px;
}

.destination,
.payment,
.airport {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.destination,
.payment {
  margin-bottom: 48px;
}

.destination img,
.payment img,
.airport img {
  margin-right: 20px;
}

.destination__text span,
.payment__text span,
.airport__text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.destination__text p,
.payment__text p,
.airport__text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
  margin: 0;
  margin-top: 4px;
}

.features__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
  margin-top: 160px;
  z-index: 1;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 24px 32px;
  background-color: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}

.card img {
  margin-bottom: 24px;
}

.card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin: 0;
  margin-bottom: 12px;
}

.card span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
}

.card__icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 28px;
}

.card__icons img {
  margin-right: 16px;
  margin-bottom: 0;
}

.card__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.card__stats {
  width: 95%;
}

.card_stats_text span {
  margin-left: 20px;
}

.card__stats img {
  margin: 0;
}

.sidecard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
  padding: 20px 8px;
  z-index: 1;
  position: relative;
  bottom: 200px;
  left: 120px;
}

.sidecard__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 12px;
}

.sidecard_text_ongoing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829a;
  margin-bottom: 8px;
}

.sidecard_text_trip {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
  margin-bottom: 8px;
}

.sidecard_text_completed {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
  color: #080809;
  margin-right: 6px;
  margin-bottom: 12px;
}

.sidecard_text_completed_percentage {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
  color: #8a79df;
  margin-right: 6px;
}

.features_text_paragraph:hover {
  text-decoration: underline;
}

.features_text_title:hover {
  box-shadow: 8px 8px 4px lightskyblue;
  border-radius: 12px;
}

.destination__text:hover,
.payment__text:hover,
.airport__text:hover {
  text-decoration: underline;
}
