.logos {
  margin-top: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .logos {
    margin-top: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logos img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .logos {
    margin-top: 100px;
  }
}
